// palette
$dark-blue: rgb(0, 102, 153);
$light-blue: rgb(117, 190, 233);
$gray: rgb(199, 228, 248);
$black: #000;
$white: #fff;

// colors
$action-color: $dark-blue;
$base-background-color: $white;
$base-border-color: $dark-blue;
$base-font-color: lighten($black, 30%);

// banner
$banner-background-color: $dark-blue;
$banner-color: $white;

// deliver-as-one
$deliver-as-one-background-color: $gray;
$deliver-as-one-color: $dark-blue;

// footer
$footer-background-color: $dark-blue;
$footer-color: $white;
$footer-action-color: $gray;

// gist
$gist-color: $base-font-color;
$gist-button-background-color: $gray;
$gist-button-color: $dark-blue;

// header
$header-background-color: $dark-blue;

// navigation
$navigation-action-color: $light-blue;
$navigation-background-color: $dark-blue;
$navigation-color: $white;
